[D-BUS Service]
Name=com.palm.smtp
Exec=/usr/bin/mojomail-smtp -c '{"log":{"appender":{"type":"syslog"},"levels":{"com.palm.smtp":"info"}}}'
Type=dynamic
